/*site wide */
*{
    color: rgb(51, 61, 77);
    font-family: FontAwesome,Geneva,Verdana,sans-serif !important;
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    font-weight: normal;
}
p,ul,li,ol{
    font-size: 0.9rem !important;
    font-weight: normal;
}
#main-container{
    max-width: 1920px;
    margin: 0 auto;
    min-height: 98%;
}

#container, .sidebar{
    min-height: 100%;
}

.wide.row{
    max-width: 100%;
}

.padd0{
    padding: 0;
}

.margin0{
    margin: 0;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.overflow-wrapper{
    overflow: hidden;
}

.bt{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.br-f{
    border: 1px solid rgba(55, 60, 56,0.1);
}

button, .button{
    background-color: rgb(11, 45, 95);
}

.pricing-table .title{
    background-color: rgb(8, 34, 71);
}

.icon-desc .fa{
    color: rgb(34, 118, 196);
    margin: 1rem auto;
}

.icon-desc h3,.icon-desc h4{
    font-weight: normal;
}

.faq h4{
    text-transform: uppercase;
    font-size: 1em;
}

/*Headings*/

h1,h2,h3,h4,h5{
    color: #fff;
    font-family: FontAwesome;
    font-weight: bold;
}

.caps{
    text-transform: uppercase;
}


/* header */
#header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(14, 56, 119);
}

#header a,#footer a{
    font-size: 0.9rem;
}

#header .logo {
    height: 75px;
    max-width: 300px;
}

.menu li{
    display: inline-block;
    margin-left : 1rem;
}

.menu a{
    color: #fff;
}

.menu a:hover{
    border-bottom: 1px solid #fff;
}

.logo {
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: 0 auto;
}

.main-menu{
    margin-top : 1.6rem;
}

.signup a{
    background: rgba(0,0,0,0.2);
    border-radius: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0.2rem 1.3rem;
    border: 1px solid rgba(0,0,0,0);
    transition: background-color 300ms ease-out 0s;
}
.signup a:hover{
    border:none;
    background: rgb(34, 118, 196);
    border: 1px solid rgba(255,255,255,0.1);
}

.docoumentation, button, .button{
    background: #fff;
    color: rgb(51, 61, 77);
    border: 1px solid rgba(0,0,0,0.2);
    transition: background-color 300ms ease-out 0s;
}

.docoumentation:hover, button:hover, .button:hover{
    background: rgb(34, 118, 196);
    border: 1px solid rgba(0,0,0,0.2);
    transition: background-color 300ms ease-out 0s;
}

.box-padding{
    padding: 3rem 0;
}

.notification-demo img{
   margin: 0 auto;
   max-width: 100%;
   width: 100%;
}

.grey-bg{
    background-color: rgb(14, 56, 119);
    color: #fff;
}

.grey-bg h4{
    color: #fff;
}

.white-bg{
    background-color: rgba(255,255,255,1);
    color: rgb(51, 61, 77) !important;
}

.white-bg h2, .white-bg p ,.white-bg h3, .white-bg h4{
    color: rgb(51, 61, 77) !important;
}


.register-form-front{
    margin: 1rem auto 5em;
}

.register-form-front .text-input{
    
    color: #fff;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1) !important;
}

.register-form-front .button{
    padding: 0.6rem;
    background: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid rgba(0,0,0,0);
    transition: background-color 300ms ease-out 0s;
}
.register-form-front .button:hover{
    background: rgb(34, 118, 196);
    border: 1px solid rgba(255,255,255,0.1);
    transition: background-color 300ms ease-out 0s;
}

.message-box-1{
    background-color: rgb(14, 56, 119);
    background-image: linear-gradient(to bottom, rgb(14, 56, 119), rgb(43, 113, 177));  
}

.message-box-1 p{
    color: #fff !important;
}
/* Browser Sprint */

.browser{
    background-image: url('../images/Browser-Logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 80px;
    width: 80px;
}

.chrome{
    background-position: 0 5px;
}

.firefox{
    background-position: 0 -75px;
}

.safari{
    background-position: 0 -155px;
}

.opera{
    background-position: 0 -240px;
}

.browser-logo{
    height: 100px;
    margin-bottom: 0rem;
}

.browser.inactive{
    opacity: 0.4;   
}

.plus, .text{
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    width: 20px;
}

.text{
    width: 200px;
    margin: -60 0 0 0;
}

.text p {
    margin-top: -3.4rem;
    padding: 0;
}

/* pricing */

.pricing-table{
    border-radius: 10px;
    overflow: hidden;
}

.price-box li{
    display: 
}

/* Footer */

#footer{
    border-top:1px solid rgba(0,0,0,0.1);    
    padding-top: 1.5em;
    background-color: #fff;
}

#footer a, #footer p{
    color: rgb(51, 61, 77);
}